<div class="explore-layout">

  <!-- Main Content -->
  <main class="main-content">

    <!-- Explore Page Cards Section -->
    <section class="explore-container">
      <div class="page-header">
        <h2>Explore Knowledge</h2>
        <p>Everything you need for Forensic Excellence</p>
      </div>

      <!-- Cards Grid -->
      <div class="cards-grid">
        <div class="card colored-card">
          <img src="/assets/images/png6.png" alt="Analysis Models"
            class="card-img">
          <h3>Analysis Models</h3>
          <p>Forensic frameworks to simulate crime scenes and analyze case
            patterns.</p>
          <div class="card-action">
            <span class="explore-link"
              (click)="goToAnalysisModels()">Explore</span>
            <span class="arrow-circle">
              <i class="fas fa-arrow-right"></i>
            </span>
          </div>

        </div>

        <div class="card white-card"  (click)="navigateToInvestigativeCases()"   style="cursor: pointer;"
          (click)="goToInvestigativeCases()">
          <img src="/assets/images/png.png" alt="Investigative Cases"
            class="card-img">
          <h3>Investigative Cases</h3>
          <p>Real-world files with reconstructions, evidence flow, and
            timelines.</p>

          <div class="card-action">
            <span class="explore-link">Explore</span>
            <span class="arrow-circle">
              <i class="fas fa-arrow-right"></i>
            </span>
          </div>
        </div>
        <!-- <div class="card white-card">
          <img src="/assets/images/png 5.png" alt="Forensic Guides"
            class="card-img">
          <h3>Forensic Guides</h3>
          <p>Step-by-step methods, lab protocols, and investigation
            worksheets.</p>
          <div class="card-action">
            <span>Explore</span>
            <span class="arrow-circle">
              <i class="fas fa-arrow-right"></i>
            </span>
          </div>

        </div> -->

      </div>
    </section>
  </main>
</div>