<nav class="top-navbar">
  <div class="navbar-left">
    <ng-container *ngIf="pageTitle.includes('>'); else singleTitle">
      <div class="breadcrumb">
        <ng-container *ngFor="let part of pageTitle.split(' > '); let last = last">
          <a 
            *ngIf="!last" 
            [routerLink]="getRouteForBreadcrumb(part)" 
            class="breadcrumb-link"
          >
            {{ part }}
          </a>
          <span *ngIf="last" class="breadcrumb-current">{{ part }}</span>
          <span *ngIf="!last" class="breadcrumb-separator">
             <!-- SVG Separator Code Here -->
             <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.3635 20.8252C1.82277 21.3659 0.946277 21.3659 0.405545 20.8252C-0.135185 20.2844 -0.135185 19.4079 0.405545 18.8672L8.65742 10.6153L0.405547 2.36346C-0.135184 1.82273 -0.135183 0.94624 0.405547 0.405511C0.946279 -0.135221 1.82277 -0.13522 2.3635 0.405511L11.5943 9.63636C11.854 9.89603 12 10.2481 12 10.6153C12 10.9826 11.854 11.3346 11.5943 11.5943L2.3635 20.8252Z" fill="#1E2A5E"/>
            </svg>
          </span>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #singleTitle>
      <h1 class="page-title">{{ pageTitle }}</h1>
    </ng-template>
  </div>

  <div class="navbar-right">
    <!-- Notification Icon -->
    <button class="notification-btn">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
        <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
      </svg>
      <span class="notification-badge">3</span>
    </button>

    <div class="separator"></div>

    <!-- User Profile Section -->
    <div class="user-profile" routerLink="/settings" style="cursor: pointer;">
      <div class="avatar">
        <img *ngIf="currentUser?.avatar" [src]="currentUser.avatar" alt="Profile" class="avatar-img" />
        
        <span *ngIf="!currentUser?.avatar" class="avatar-initials">{{ userInitials }}</span>
      </div>
      
      <span class="user-name">{{ currentUser?.name || 'User' }}</span>
    </div>
  </div>
</nav>